.progress-display-correct-words-list{
    color: green;
}

.progress-display-wrong-words-list{
    color: red;
}

.progress-display-details-container{
    font-size: 20px;
}

.progress-display-correct-words-title{
    margin-left: 5px;
}

.progress-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test-results-list{
    display: flex;
    flex-direction: column-reverse;
}