.answer-buttons-row{
    display: flex;    
}

.word-wrong-answer-background{
    background-color: red;
    color: white;
}

.word-correct-answer-background{
    background-color: green;
    color: white;
}