.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  height: 100%;
  flex-direction: column;
}

html, body, #root {
  height: 100%;
  background-color: #282c34;
}

.app-main-box{
  margin-top: 30px;
}